log/*
Config/*
Config/config.php
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/log/*
/rpt/*.tgz
/rpt/rpt.moni.*
/rpt/*.log
/etc.bk
*.log
*.back
*.bak
*.bk
*.tmp
*.o
*.tmp
*.last
core.*
*.tgz
*.tar.gz
*.1
*.2
*.3
*.4
*.5
*.6
*.7
*.8
*.9
*.10  
*.swp
